<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.algebra.authentication.mapper.config.SysUserLogMapper">
  <resultMap id="BaseResultMap" type="com.algebra.authentication.domain.SysUserLog">
    <!--@mbg.generated-->
    <!--@Table sys_userlog-->
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="is_new" jdbcType="BOOLEAN" property="isNew" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="menu" jdbcType="VARCHAR" property="menu" />
    <result column="dept_id" jdbcType="CHAR" property="deptId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, user_id, user_name, `type`, ip, is_new, content, menu, dept_id, remark, created_at
  </sql>
</mapper>